<div class="user_partial">
	<div class="user_form">
		<div class="user_form_left">
			<div class="user_profile_photo" style="background-image: url({{UpURL}})"></div>
			<div class="user_profile_name">#{{Name}}</div>
		</div>
		
		<div class="user_form_right">
			<div class="user_restrictions">
				<div class="user_restrictions_title">As minhas restrições</div>
				<div class="user_restrictions_container">
					<div class="restriction">
						<div class="restriction_city">Porto</div>
						<div class="restrictionViceCity">
							<div class="restriction_icon" style="background-image: url(img/weather_icons/{{IconURL}})"></div>
							<div class="restriction_data">
								<div class="restriction_location">Rua das Flores, 699, Praia</div>
								<div class="restriction_restrictions">
									<div class="weather_restriction">Weather: Sunny</div>
									<div class="tides_restriction">Tides: High</div>
									<div class="moon_restriction">Moon: Full</div>
									<div class="other_restriction"></div>
								</div>
							</div>
						</div>
						
						<div class="restrictionViceCity">
							<div class="restriction_icon" style="background-image: url(img/weather_icons/{{IconURL}})"></div>
							<div class="restriction_data">
								<div class="restriction_location">Rua das Flores, 699, Praia</div>
								<div class="restriction_restrictions">
									<div class="weather_restriction">Weather: Sunny</div>
									<div class="tides_restriction">Tides: High</div>
									<div class="moon_restriction">Moon: Full</div>
									<div class="other_restriction"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>