<div class="user_partial" id="userPartial" ng-controller="userController">
	<div class="user_form">
		<div class="user_form_left">
			<div class="user_profile_photo" style="background-image: url({{UpURL}})"></div>
			<div class="user_profile_name">#{{Name}}</div>
		</div>
		
		<div class="user_form_right">
			
			<div class="user_restrictions">
				<div class="user_restrictions_title">As minhas restrições</div>
				<div class="user_restrictions_container">
				
					<div ng-repeat="r in rests" class="restriction" style="position:static;">
						
						<div class="restriction_city">{{r.local}}<div class="copyLocation" ng-click="copyL(r.local)"></div><div class="deleteLocation" ng-click="deleteL(r.id)"></div></div>
						<div ng-repeat="conditions in r.list" class="restrictionViceCity"  style="position:static;">
							<div class="weatherConditions">
								<span class="spanInlineText">Estados Tempo</span>
								<div ng-repeat="i in conditions.etIcons" class="weatherCIcon" style="position:static; background-image: url(img/weather_icons/{{i}});"></div>
							</div>
							<div class="weatherConditions">
								<span class="spanInlineText">Dias da Semana</span>
								<div ng-repeat="i in conditions.etDays" class="weatherShowDays" style="position:static;">{{i}}</div>
							</div>
							<div class="restriction_data">
								<!--<div class="restriction_location"></div>-->
								<div class="restriction_restrictions">
									<div class="weather_restriction">Hora Inicio: {{conditions.horaInicio}}:00</div>
									<div class="moon_restriction">Hora Fim: {{conditions.horaFim}}:00</div>
									<div ng-if="conditions.EstadoMares[0].id == 1"class="tides_restriction" style="position:static;">Maré: Baixa</div>
									<div ng-if="conditions.EstadoMares[0].id == 2"class="tides_restriction" style="position:static;">Maré: Alta</div>
									<div ng-if="conditions.sunrise==1" class="other_restriction" style="position:static;">Nascer do Sol</div>
									<div ng-if="conditions.sunset==1" class="other_restriction" style="position:static;">Pôr do Sol</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="user_restrictions">
				<div class="user_restrictions_title">Adicionar Restrição</div>
				<div class="user_restrictions_container">
					<div class="restriction_title" style="margin-bottom:10px;">Escolha Localização</div>
					<div class="inputAddLocation">
						<span class="worldicon"></span>
						<div id="panel">
	  						<input id="address" class="address_textarea" type="textbox" value="Porto, Portugal"></input>
	  						<input type="button" value="Geocode" ng-click="getLocality()"></input>
						</div>
						<div id="map-canvas" style="height:400px"></div>
					</div>
					
					<div class="restriction_title" style="margin-top:20px">Espaço Horário Preferencial</div>
					<div class="selectTime">
						<div class="select_Hour">
							<div class="select_Hour_title">Hora Início</div>
							<input id='initTime' type='text' name='timepicker' class="inputHoras"/>
						</div>
						
						<div class="select_Hour">
							<div class="select_Hour_title">Hora Fim</div>
							<input id='endTime' type='text' name='timepicker' class="inputHoras"/>
						</div>
					</div>
					
					<div class="restriction_title" style="margin-top:30px">Periodo de Tempo</div>
					<div class="select_sunposition">
						<div class="selectObject">
							<div ng-if="sSunPosition[1]" class="select_sunrise" ng-click="activeSunPosition(1)" style="position:relative;"></div>
							<div ng-if="!sSunPosition[1]" class="select_sunrise" ng-click="activeSunPosition(1)" style="background-image: url(img/weather_icons/sunrise2.png); position:relative;"></div>
							<div class="select_title" style="margin-left:0px">Nascer Sol</div>
						</div>
						
						<div class="selectObject">
							<div ng-if="sSunPosition[2]" class="select_sunset" ng-click="activeSunPosition(2)" style="position:relative;"></div>
							<div ng-if="!sSunPosition[2]" class="select_sunset" ng-click="activeSunPosition(2)" style="background-image: url(img/weather_icons/sunset2.png); position:relative;"></div>
							<div class="select_title" style="margin-left:0px">Pôr Sol</div>
						</div>
					</div>
					
					
					<div class="restriction_title" style="margin-top:30px">Dias da Semana</div>
					<div class="selectDays">
						<div ng-if="sDays[1]" class="select_day" ng-click="activeDays(1)" style="position:static;">Seg</div>
						<div ng-if="!sDays[1]" class="select_day" ng-click="activeDays(1)" style="color: rgb(200,200,200); position:static;">Seg</div>
						
						<div ng-if="sDays[2]" class="select_day" ng-click="activeDays(2)" style="position:static;">Ter</div>
						<div ng-if="!sDays[2]" class="select_day" ng-click="activeDays(2)" style="color: rgb(200,200,200); position:static;">Ter</div>
						
						<div ng-if="sDays[3]" class="select_day" ng-click="activeDays(3)" style="position:static;">Qua</div>
						<div ng-if="!sDays[3]" class="select_day" ng-click="activeDays(3)" style="color: rgb(200,200,200); position:static;">Qua</div>
						
						<div ng-if="sDays[4]" class="select_day" ng-click="activeDays(4)" style="position:static;">Qui</div>
						<div ng-if="!sDays[4]" class="select_day" ng-click="activeDays(4)" style="color: rgb(200,200,200); position:static;">Qui</div>
						
						<div ng-if="sDays[5]" class="select_day" ng-click="activeDays(5)" style="position:static;">Sex</div>
						<div ng-if="!sDays[5]" class="select_day" ng-click="activeDays(5)" style="color: rgb(200,200,200); position:static;">Sex</div>
						
						<div ng-if="sDays[6]" class="select_day" ng-click="activeDays(6)" style="position:static;">Sab</div>
						<div ng-if="!sDays[6]" class="select_day" ng-click="activeDays(6)" style="color: rgb(200,200,200); position:static;">Sab</div>
						
						<div ng-if="sDays[7]" class="select_day" ng-click="activeDays(7)" style="position:static;">Dom</div>
						<div ng-if="!sDays[7]" class="select_day" ng-click="activeDays(7)" style="color: rgb(200,200,200); position:static;">Dom</div>
					</div>
					
					<div class="restriction_title" style="margin-top:30px">Estados do Tempo</div>
					<div class="selectWeather">
						<div class="selectWeatherTopRow">
							<div class="selectObject">
								<div ng-if="sWeather[1]" class="select_sun" ng-click="active(1)" style="position:relative;"></div>
								<div ng-if="!sWeather[1]" class="select_sun" ng-click="active(1)" style="background-image: url(img/weather_icons/Sun2.png); position:relative;"></div>
								<div class="select_title">Sol</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[2]" class="select_sunCloud" ng-click="active(2)" style="position:relative;"></div>
								<div ng-if="!sWeather[2]" class="select_sunCloud" ng-click="active(2)" style="background-image: url(img/weather_icons/Sun_Cloud2.png); position:relative;"></div>
								<div class="select_title">Pouco Nublado</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[3]" class="select_mostlycloudy" ng-click="active(3)" style="position:relative;"></div>
								<div ng-if="!sWeather[3]" class="select_mostlycloudy" ng-click="active(3)" style="background-image: url(img/weather_icons/Mostly_Cloudy2.png); position:relative;"></div>
								<div class="select_title">Muito Nublado</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[4]" class="select_downpour" ng-click="active(4)" style="position:relative;"></div>
								<div ng-if="!sWeather[4]" class="select_downpour" ng-click="active(4)" style="background-image: url(img/weather_icons/DownPour2.png); position:relative;"></div>
								<div class="select_title">Aguaceiros</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[5]" class="select_rain" ng-click="active(5)" style="position:relative;"></div>
								<div ng-if="!sWeather[5]" class="select_rain" ng-click="active(5)" style="background-image: url(img/weather_icons/Rain2.png); position:relative;"></div>
								<div class="select_title">Chuva</div>
							</div>
						</div>
						<div class="selectWeatherBottomRow">
							<div class="selectObject">
								<div ng-if="sWeather[6]" class="select_fog" ng-click="active(6)" style="position:relative;"></div>
								<div ng-if="!sWeather[6]" class="select_fog" ng-click="active(6)" style="background-image: url(img/weather_icons/Fog2.png); position:relative;"></div>
								<div class="select_title">Nevoeiro</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[7]" class="select_thunder" ng-click="active(7)" style="position:relative;"></div>
								<div ng-if="!sWeather[7]" class="select_thunder" ng-click="active(7)" style="background-image: url(img/weather_icons/Thunder2.png); position:relative;"></div>
								<div class="select_title">Trovoada</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[8]" class="select_snow" ng-click="active(8)" style="position:relative;"></div>
								<div ng-if="!sWeather[8]" class="select_snow" ng-click="active(8)" style="background-image: url(img/weather_icons/Snow2.png); position:relative;"></div>
								<div class="select_title">Neve</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[9]" class="select_hail" ng-click="active(9)" style="position:relative;"></div>
								<div ng-if="!sWeather[9]" class="select_hail" ng-click="active(9)" style="background-image: url(img/weather_icons/Hail2.png); position:relative;"></div>
								<div class="select_title">Granizo</div>
							</div>
							
							<div class="selectObject">
								<div ng-if="sWeather[10]" class="select_wind" ng-click="active(10)" style="position:relative;"></div>
								<div ng-if="!sWeather[10]" class="select_wind" ng-click="active(10)" style="background-image: url(img/weather_icons/Wind2.png); position:relative;"></div>
								<div class="select_title">Ventoso</div>
							</div>
						</div>
					</div>
					
					<div class="restriction_title" style="margin-top:30px">Estado Maré</div>
					<div class="select_sunposition">
						<div class="selectObject">
							<div ng-if="selectedTide==1" class="select_lowtide" ng-click="activeTide(1)" style="position:relative;"></div>
							<div ng-if="selectedTide!=1" class="select_lowtide" ng-click="activeTide(1)" style="background-image: url(img/weather_icons/lowtides2.png); position:relative;"></div>
							<div class="select_title" style="margin-left:0px">Maré Baixa</div>
						</div>
						
						<div class="selectObject">
							<div ng-if="selectedTide==2" class="select_hightide" ng-click="activeTide(2)" style="position:relative;"></div>
							<div ng-if="selectedTide!=2" class="select_hightide" ng-click="activeTide(2)" style="background-image: url(img/weather_icons/hightides2.png); position:relative;"></div>
							<div class="select_title" style="margin-left:0px">Maré Alta</div>
						</div>
						
					</div>
					<select class="portoSelect" id="portoSelect" style="position:static;">
					  <option value="2">Leixões</option>
					  <option value="1">Viana do Castelo</option>
					  <option value="3">Aveiro</option>
					  <option value="4">Figueira da Foz</option>
					  <option value="5">Peniche</option>
					  <option value="6">Cascais</option>
					  <option value="7">Lisboa</option>
					  <option value="8">Setubal</option>
					  <option value="9">Sesimbra</option>
					  <option value="10">Sines</option>
					  <option value="11">Lagos</option>
					  <option value="12">Faro</option>
					  <option value="13">Vila Real Santo Antonio</option>
					</select> 
					
					
					<div class="adicionarButton" ng-click="addRestriction()">Adicionar</div>
					
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- TimePicki Script -->


<script type='text/javascript'>
	$('#initTime').timepicki({
		show_meridian:false,
		min_hour_value:0,
		max_hour_value:23,
		step_size_minutes:15,
		overflow_minutes:true,
		start_time: ["00","00"],
		increase_direction:'up',
		disable_keyboard_mobile: true});
	
	$('#endTime').timepicki({
		show_meridian:false,
		min_hour_value:0,
		max_hour_value:23,
		step_size_minutes:15,
		overflow_minutes:true,
		start_time: ["00","00"],
		increase_direction:'up',
		disable_keyboard_mobile: true});

</script>

<!-- ------------------------------- -->

