html,
body {
	margin:0;
	padding:0;
	height:100%;
	min-width: 800px;
	background: white;
	overflow-x: hidden;
}

.root{
	height:100%;
	width: 100%;
	background: white;
}

.ng-scope{
	position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:auto;
}

/* FONTS ------------------------------------------------------------------------------------------------ */

@font-face
{
  font-family: PTSANS;
  src: url(../fonts/PTN57F.ttf);
}

@font-face
{
  font-family: PTSANSBOLD;
  src: url(../fonts/PTN77F.ttf);
}

/*--------------------------------------------------------------*/
/* PARTIALS ----------------------------------------------------*/

.login_partial
{
	height:100%;
	width: 100%;
	
	background: url(../img/backgrounds/login_back2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
	background-attachment: fixed;
}

.user_partial
{
	height:100%;
	width: 100%;
	
	background: url(../img/backgrounds/user_back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
	background-attachment: fixed;
}

/*------------------------------------------------------------------*/
/*LOGIN PARTIAL ----------------------------------------------------*/

.login_partial .login_form{
	width: 400px;
	height: 350px;
	
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.login_form .login_logo{
	display: block;
	height: 100px;
	width: 100px;
	
	background: url(../img/logo/logow.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
	
	margin: 0 auto;
	margin-bottom: 20px;
}

.login_form .login_title{
	height: 30px;
	display: block;
	font-family: PTSANS;
    font-size: 25px;
	color:white;
	line-height: 30px;
	
	text-align:center;
	
}

.login_form .login_user{
	width:400px;
	height: 50px;
	border-bottom: 1px solid white;
}

.login_form .login_user .login_user_name{
	height: 50px;
	display: inline-block;
	font-family: PTSANS;
    font-size: 18px;
	color:white;
	line-height: 50px;
	vertical-align: top;
	padding-right: 10px;
	
}

.login_form .login_pass{
	width:400px;
	height: 50px;
	border-bottom: 1px solid white;
}

.login_form .login_pass .login_pass_name{
	height: 50px;
	display: inline-block;
	font-family: PTSANS;
    font-size: 18px;
	color:white;
	line-height: 50px;
	vertical-align: top;
	padding-right: 10px;
	
}

.login_form .login_textarea{
	display: inline-block;
	width: 300px;
	height: 50px;
	background-color: rgba(255,255,255,0.0);
	border: none;
	resize: none;
	line-height: 50px;
	vertical-align: top;
	
	font-family: PTSANS;
    font-size: 18px;
	color:white;
	
	margin-top: -1px;
}

.login_button{
	display: block;
	height: 30px;
	width: 40px;
	font-family: PTSANS;
    font-size: 18px;
	color:white;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	margin-top: 25px;
	border-bottom: 0px solid white;
}

.login_button:hover{
	cursor:pointer;
	border-bottom: 1px solid white;
}

/*------------------------------------------------------------------*/
/*USER PARTIAL ----------------------------------------------------*/

.user_partial .user_form{
	width: 1000px;
	margin:0 auto;
}

.user_partial .user_form .user_form_left{
	display: inline-block;
	width: 200px;
	
	margin-top: 25px;
}

.user_partial .user_form .user_form_right{
	display: inline-block;
	width: 750px;
	
	margin-top: 25px;
	margin-left: 45px;
	vertical-align: top;
}

.user_partial .user_form .user_form_left .user_profile_photo{
	display: block;
	width: 200px;
	height: 300px;
	
	background: url(https://m1.behance.net/rendition/modules/65013487/disp/7a312d3181a5a4b2334089e3cea1708a.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
	
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
}

.user_partial .user_form .user_form_left .user_profile_name{
	display: block;
	width: 200px;
	height: 50px;
	background-color: rgba(112,63,128,1.0);
	
	font-family: PTSANS;
    font-size: 18px;
	color:white;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	
	margin-top: 3px;
	
	/*border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;*/
}

.user_restrictions{
	margin-bottom: 10px;
}

.user_partial .user_form .user_form_right .user_restrictions .user_restrictions_title{
	display: block;
	width: 740px;
	padding-left:10px;
	height: 50px;
	background-color: rgba(112,63,128,1.0);
	
	font-family: PTSANS;
    font-size: 18px;
	color:white;
	line-height: 50px;
}

.user_partial .user_form .user_form_right .user_restrictions .user_restrictions_container{
	display: block;
	width: 750px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	
	
}

.user_restrictions_container .restriction{
	display:block;
	width: 100%;
}

.restriction .restriction_icon{
	display: inline-block;
	width: 100px;
	height: 75px;
	
	background: url(../img/weather_icons/na.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.restriction .restriction_city{
	display: block;
	max-width: 100%;
	height: 25px;
	
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 18px;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
}

.restriction .restrictionViceCity:nth-child(odd){
	display:block;
	width: 100%;
	background-color: rgba(230,230,230,1.0);
}
.restriction .restrictionViceCity:nth-child(even){
	display:block;
	width: 100%;
	background-color: white;
}

.restriction .restrictionViceCity .restriction_location{
	display: inline-block;
	width: 325px;
	height: 25px;
	margin-left:20px;
	
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 16px;
	line-height: 25px;
	vertical-align: top;
	margin-top: 8px;
}

.restriction .restrictionViceCity .restriction_data{
	display: inline-block;
	width: 640px;
	height: 75px;
	vertical-align: top;
}

.weather_restriction{
	display: inline-block;
	width: 150px;
	height: 25px;
	margin-left:20px;
	
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 16px;
	line-height: 25px;
	vertical-align: top;
	margin-top: 8px;
}

.tides_restriction{
	display: inline-block;
	width: 150px;
	height: 25px;
	margin-left:20px;
	
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 16px;
	line-height: 25px;
	vertical-align: top;
	margin-top: 8px;
}

.moon_restriction{
	display: inline-block;
	width: 150px;
	height: 25px;
	margin-left:20px;
	
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 16px;
	line-height: 25px;
	vertical-align: top;
	margin-top: 8px;
}

/*ADD REST */

.restriction_title{
	display: block;
	max-width: 100%;
	height: 25px;
	
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 18px;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
}

.inputAddLocation{
	
}

#panel{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
}
.address_textarea{
	width: 85%;
}

.selectWeather{
	width:100%;
	margin-top:20px;
}

.selectWeatherTopRow{
	/*margin-left:40px;*/
	margin-bottom: 30px;
}

.selectObject{
	display:inline-block;
	margin-left:20px;
	text-align:center;
}

.select_title{
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 16px;
	line-height: 25px;
	vertical-align: top;
	margin-left:18px;
}

.selectWeatherTopRow .select_sun{
	width: 100px;
	height: 70px;
	
	background-image: url(../img/weather_icons/Sun.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherTopRow .select_sunCloud{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Sun_Cloud.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherTopRow .select_downpour{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/DownPour.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherTopRow .select_mostlycloudy{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Mostly_Cloudy.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherTopRow .select_rain{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Rain.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherBottomRow .select_fog{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Fog.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherBottomRow .select_thunder{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Thunder.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherBottomRow .select_snow{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Snow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherBottomRow .select_hail{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Hail.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.selectWeatherBottomRow .select_wind{
	display:inline-block;
	width: 100px;
	height: 70px;
	margin-left:20px;
	
	background-image: url(../img/weather_icons/Wind.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.select_wind:hover, .select_fog:hover, .select_sun:hover, .select_sunCloud:hover, .select_downpour:hover, .select_mostlycloudy:hover, .select_rain:hover, .select_thunder:hover, .select_snow:hover, .select_hail:hover{
	cursor:pointer;
}

.selectDays{
	margin-left: 160px;
	margin-top: 20px;
}

.select_day{
	width: 60px;
	height: 31px;
	display: inline-block;
	color: rgba(112,63,128,1.0);
	
	font-family: PTSANS;
    font-size: 25px;
	line-height: 30px;
	vertical-align: top;
	margin-right: 0px;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	cursor:pointer;
}

.select_day:hover{
	cursor:pointer;
}

.selectTime{
	width:400px;
	margin: 0 auto;
	padding-left: 40px;
	
}

.select_Hour{
	display:inline-block;
	margin-right: 20px;
}

.select_Hour_title{
	display:inline-block;
	width: 162px;
	color: rgba(50,50,50,1.0);
	
	font-family: PTSANS;
    font-size: 18px;
	line-height: 25px;
	margin-top: 10px;
	
	
	text-align: center;
}

.inputHoras{
	width: 160px;
	text-align: center;
}

.timepicker_wrap{
	width: 160px !important;
}

.select_sunposition{
	margin-left:240px;
	margin-top: 20px;
}

.select_sunrise{
	width: 100px;
	height: 70px;
	
	background-image: url(../img/weather_icons/sunrise.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.select_sunset{
	width: 100px;
	height: 70px;
	
	background-image: url(../img/weather_icons/sunset.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.select_lowtide{
	width: 100px;
	height: 70px;
	
	background-image: url(../img/weather_icons/lowtides.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.select_hightide{
	width: 100px;
	height: 70px;
	
	background-image: url(../img/weather_icons/hightides.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
	
	cursor:pointer;
}	

.adicionarButton{
	width: 200px;
	height: 50px;
	
	background-color: rgba(112,63,128,1.0);
	color: white;
	
	margin: 0 auto;
	
	margin-top: 30px;
	margin-bottom: 30px;
	
	text-align:center;
	font-family: PTSANS;
    font-size: 18px;
	line-height: 50px;
	
}

.adicionarButton:hover{
	background-color: rgba(162,123,178,1.0);
	cursor: pointer;
}

.portoSelect{
	position: static;
	margin: 0px auto;
	width: 150px;
	display: block;
	margin-top: 15px;
}


.weatherCIcon{
	display:inline-block;
	width: 50px;
	height: 30px;
	margin-left:10px;
	margin-top:7px; 
	
	background-image: url(../img/weather_icons/Wind.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center center;
}

.weatherShowDays{
	display: inline-block;
	height: 25px;
	color: #703F80;
	font-family: PTSANS;
	font-size: 16px;
	line-height: 25px;
	vertical-align: top;
	margin-top: 8px;
	margin-left: 20px;
}

.spanInlineText{
	display: inline-block;
	height: 25px;
	color: #323232;
	font-family: PTSANS;
	font-size: 16px;
	line-height: 25px;
	vertical-align: top;
	margin-top: 8px;
	margin-left: 20px;
}
